div.create-m {
  background-color: #eac340;
  width: 400px;
  margin: auto auto;
  margin-top: 80px;
  padding: 30px;
  border-radius: 30px;
}

div.create-m input {
  border: 1px solid #ccc;
  display: block;
  border-radius: 40px;
  padding: 10px 30px;
  margin-bottom: 10px;
  outline: none;
  /*width: 100%;*/
}

a.submit {
  background: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
}